.section {
  padding: 20px;
  background-color: #121212; /* Adjust to match the background from your design */
  margin-bottom: 0px;
  opacity: 1; /* Set to fully visible */
  position: relative; /* Removes absolute positioning */
  gap: 32px;
}

.header {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Add space between title and button */
  margin-bottom: 20px;
}

.header h2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.collapseButton {
  background-color: #121212;
  color: #34C94B;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: auto; /* Align button to the right */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Spacing between cards */
  width: 100%; /* Ensures full width for responsiveness */
}

.gridCollapsed {
  display: none;
}

.tabsContainer {
  margin-top: 16px;
  width: 100%; /* Ensure full width for the tabs */
  margin-bottom: 16px; /* Add space between the tabs and the card */
}

.tabs .MuiTab-root.Mui-selected {
  color: white !important; /* Override the default blue color */
}

.tabs .MuiTabs-indicator {
  background-color: #34C94B; /* Underline color for the active tab */
}

.tab {
  color: white; /* Ensure all tabs are white */
}

.tab:hover {
  color: white; /* Remove hover effect */
  cursor: default; /* Optional: Change cursor to default on hover */
}


/* Media queries for smaller screens */
@media (max-width: 600px) {
  .header h2 {
    font-size: 16px; /* Smaller font size for smaller screens */
  }

  .collapseButton {
    font-size: 16px; /* Smaller button font size */
    padding: 6px 12px; /* Adjust button padding */
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust grid layout for smaller screens */
    gap: 10px; /* Reduce gap between cards */
  }
}
