.button {
    background-color: var(--button-bg-color, black);
    color: var(--button-text-color, 
    #34C94B);
    border-radius: 5px; /* Adjust as needed */
    padding: 10px 20px; /* Adjust as needed */
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif; /* Ensure Poppins font is imported in your global CSS */
  }
  
